/* general */

*{
    margin: 0;
}

/* header */

header {
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-position: center top;
    background-size: 640px;
}

.logo{
    margin: 90px auto auto 30px;
    max-height: 50px;
}

/* main */

main {
    margin: 1rem .5rem;
}

/* main topic */

h1 {
    font-size: 3rem;
}

address {
    color: #929292;
    font-style: normal;
}

.address-date {
    font-size: smaller;
}

a {
    text-decoration-line: none;
    color: #31AFE6;
}

.main-topic-footer {
    font-size: smaller;
}