/* general */

*{
    margin: 0;
}

.divider {
    margin: auto auto 2rem auto;
}

.important {
    background-color: yellow;
}

/* header */

header {
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-position: center top;
    background-size: 640px;
}

.logo{
    margin: 90px auto auto 30px;
    max-height: 50px;
}

/* main */

main {
    margin: auto .5rem;
}

/* main topic */

h1 {
    font-size: 4rem;
}

address {
    color: #929292;
    font-style: normal;
    font-size: medium;
}

.address-date {
    font-size: small;
}

a {
    text-decoration-line: none;
    color: #31AFE6;
}

.tim-1{
    width: 52%;
    max-height: 32rem;
}

.tim-2{
    width: 44%;
    max-height: 32rem;
}

.main-topic-footer {
    font-size: small;
}

/* un-ordered list */

.list{
    margin: 0;
    padding: 1rem;
}

/* table */

.table-container {
    width: 100%;
    border-spacing: 0;
    border: 0;
}

thead{
    background-color: #31AFE6;
    color: white;
}

th {
    text-align: left;
}

.table-big-content {
    width: 50%;
}

.light-blue {
    background-color: lightblue;
}